input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  h1{
    text-align: center;
    padding-top: 15px;
  }
  .btn {
    background-color: rgba(255, 166, 0, 0.664);
    color: white;
    padding: 15px;
    margin: 10px 10px;
    border: none;
    width: 70%;
    border-radius: 7px 7px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a06bab;
  }
  